@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:100,200,300,400,400i');
/* Home Page */

.container-fulid{
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header */

.header{
  background: url('../../../Images/Background.jpg') no-repeat 55%;
  background-size: cover;
}

.header a{
  text-decoration: none;
}

.header-content-top{
  padding: 32px 23px;
}

.login-btn {
  float: right;
  border: 3px solid #fff;
  padding: 12px 0;
}

.login-btn a {
  color: #fff;  
  padding: 12px 66px;
}

.header-content-main {
  margin-top: 115px;
}

.title--main{
  font-size: 76px;
  letter-spacing: 15px;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 11px 75px;
  background-color: hsla(0,0%,100%,.1);
}

.title-info--main{
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 12px;
  margin: 4px 0 0;
  background-color: hsla(0,0%,100%,.1);
  padding: 15px 84px 20px;
}

.title-info--main span {
  letter-spacing: 0;
}
.header-content-bottom{
  padding-left: 79px;
  padding-bottom: 112px;
  margin-top: 76px;
}

.header-content-bottom button{
  font-size: 22px;
  font-weight: 500;
}

.button {
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 3px;
  outline: none;
  border-radius: 4em;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.button.margin--r {
  margin-right: 27px;
}

.button.green {
  background-color: #31c5c3;
}

.button.red {
  background-color: #fe9168;
}

.button.red a {
  color: #fff;
}

.button.link {
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.button.link span {
  position: absolute;
  width: 100%;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
  text-align: center;
}

.button.green, .button.red {
  border: none;
  width: 291px;
  height: 81px;
}

.button.neutral.header {
  position: absolute;
  right: 23px;
  top: 32px;
}
.header-signup-modal{
  background: url(../../../Images/Background.jpg) no-repeat 50%;
  background-size: cover;
  height: 100%;
  border-radius: 50px;
}
.header-signup-modal h6{
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  width: 100%;
  font-style: italic;
}
.header-signup-modal .wrap--signup-button{
  position: absolute;
  bottom: 48px;
  width: 100%;
}
.header-signup-modal a{
  font-size: 17px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 13px 61px;
  margin: 0 30px;
  text-decoration: none;
}
.header-signup-modal a:hover{
  color: #fff;
}
.header-signup-modal .step-one--title{
  font-family: Libre Baskerville,serif;
  color: #fff;
  font-size: 25px;
  text-align: center;  
  font-weight: 100;
  padding: 0 30px;
}
.header-signup-modal .layer--dark{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  border-radius: 50px;
}

/* Main */
.main{
  margin-bottom: 60px;
}
.main-content1{
  padding: 0 20px;
}
.main-title, .main-bottom{
  text-align: center;
}
.main-title h1,.main-bottom h1{
  font-size: 40px;
  font-weight: 200;
  color: #2b2b2b;
  padding: 50px 20px 20px;
  letter-spacing: 3px;
  margin-bottom: 0;
}
.main-title p{
  color: #666666;
  padding: 0 24%;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.mainimg{
  text-align: center;
  padding: 38px 0 74px;
}
.main-bottom h1{
  padding: 50px;
  margin-bottom: 0;  
}
.main-bottom .button{
  font-size: 12px;
  height: auto;
  width: auto;
  padding: 10px 25px;
  letter-spacing: 1px;
  font-weight: 400;
}
.main-bottom hr{
  margin: 36px 0;
}
.main-bottom p{
  font-size: 25px;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: rgba(67,67,67,.76);
}
.main-bottom .contact-block{
  border: 3px solid #feb179;
  height: 113px;
  width: 295px;
  margin: 28px 10px 60px;
  padding: 20px;
  display: inline-block;
  border-radius: 25px;
  font-size: 17px;
}
.main-bottom .contact-block .contact-text{
  text-transform: uppercase;
  color: #fc9a6d;
  font-weight: 600;
  line-height: 2;
  display: block;
  letter-spacing: 2px;
}
.main-bottom .contact-block .contact-value{
  color: #7e7e7e;
  font-weight: 600;
  line-height: 2;
}

/* Available */

.Available{
  background: url('../../../Images/availablebg.png') repeat-x;
  min-height: 713px;
  position: relative;
  margin: 0;
}

.Available img{
  position: absolute;
  bottom: 0;
  right: 0;
}

.Available .discription-part{
  padding-left: 88px;
  margin-top: 234px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.Available .discription-part h2{
  font-size: 45px;
  font-weight: 300;
  color: #2b2b2b;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.Available .discription-part .icons-style{
  font-size: 44px;
  color: #fff;
  margin-bottom: 24px;
}
.Available .discription-part .icons-style .and-sign{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 200;
  font-size: 40px;
}
.Available .discription-part p{
  font-size: 21px;
  width: 92%;
}

/* Feature */

.Feature .row{
  margin: 0;
}

.Feature .feature-mobile{
  text-align: center;
  margin-top: 74px;
}
.Feature .feature-main h2{  
  font-weight: 300;
  color: #2b2b2b;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 36px;
  margin-top: 167px;
}
.Feature .feature-main ul{
  list-style: none;
  padding-left: 0;
}
.Feature .feature-main ul li{
  display: -webkit-inline-box;
  margin-bottom: 36px;
  line-height: 20px;
}
.Feature .feature-main ul li p{
  margin-bottom: 0;
  padding-left: 14px;
  letter-spacing: 1px;
  color: #8f8f8f;
}

/* Footer */

.footer{
  background: url('../../../Images/footerbg.png');
}
.footer .row{
  margin: 0;
}
.footer ul{
  margin-bottom: 0;
}
.footer .footer-boxes{  
  padding: 24px 0px;
}
.footer .footer-box{
  width: 100%;
  height: 100%;
  padding: 30px;
  float: left;
  display: inline-block;  
  border-right: 2px solid #ffbba2;
}
.footer .footer-box-4{
  border: none;
}
.footer .footer-box .title{
  font-size: 25px;
  line-height: 2;
  color: #2b2b2b;
  font-weight: 600;
}
.footer .footer-box .discription{
  font-size: 19px;
  color: #fff;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer .footer-box .links{
  color: #fff;
  margin-top: 24px;
  display: flex;
}
.footer .footer-box .links .social{
  font-size: 30px;
  padding: 13.5px;
  margin-right: 10px;
  min-width: 72px;
  text-align: center;
  background: hsla(0,0%,100%,.28);
}
.footer .footer-box .links .email-text{
  height: 50px;
  width: 100%;
  font-size: 22px;
  padding: 8px 19px;
  border: 1px solid #fff;
}
.footer .footer-box .links .email-text span{
  margin-left: 10px;
}
.footer .footer-box .links .email-us{
  margin-top: 12px;
}
.footer .footer-box .links .email-us span{
  padding: 13px 33px;
  text-transform: uppercase;
  background: hsla(0,0%,100%,.28);
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 18px;
}

/* Responsive */

@media screen and (max-width:1206px){
  .main-title p{
    padding: 0 10%;
  }
}

@media screen and (max-width: 992px){
  .footer .footer-box-2{
    border: none;
  }
}

@media screen and (max-width:970px){
  .Available{
    min-height: 600px;
  }
  .Available .discription-part{
    margin-top: 134px;
    padding-left: 80px;
  }
  .Feature .feature-main h2{
    margin-top: 76px;
  }
}

@media screen and (max-width:768px){
  .title--main{
    font-size: 50px;
  }
  .title-info--main{
    font-size: 30px;
  }
  .header .button.green,.header .button.red {
    width: 220px;
    height: 62px;
  }  
  .header-content-bottom .button{
    font-size: 16px;
  }  
  .Feature .feature-main ul li p{
    width: 92%;
  }
  .Feature .feature-main h2{
    text-align: center;
    margin-top: 57px;
    margin-bottom: 50px;
  }
  .footer .footer-box{
    border-right: 0;    
  }
  .footer .footer-boxes{
    border-bottom: 2px solid #ffd5c5;
  }
  .footer .footer-boxes:first-child{
    padding: 30px 0 80px;
  }
}

@media screen and (max-width:767px){
  .Available{
    background-size: auto 1100px;
  }
  .Available img{
    position: inherit;
  }
  .Available .available-mobile{
    text-align: right;
    padding-right: 0;
  }
  .Available .discription-part{
    margin-top: 90px;
    padding: 0 10%;
    margin-bottom: 50px;
  }
  .Available .discription-part p{
    width: 100%;
  }
}

@media screen and (max-width:686px){
  .main-bottom .contact-block{
    width: 100%;
    margin: 28px 0px 60px;
  }
}

@media screen and (max-width:660px){
  .title--main{
    font-size: 46px;
    padding: 11px 38px;
  }
  .title-info--main {
    font-size: 24px;
    padding: 15px 38px 20px;
  }
  .header-content-bottom{
    padding-left: 40px;
  }
}
@media screen and (max-width:620px){
  .main-title h1, .main-bottom h1{
    font-size: 30px;
  }
  .main-title p{
    padding: 0;
    font-size: 14px;
  }
}

@media screen and (max-width:606px){
  .header-signup-modal .step-one--title{
    line-height: 44px;
  }
}
@media screen and (max-width:564px){
  .main-bottom h1{
    letter-spacing: 1px;
  }
}
@media screen and (max-width:550px){
  .header-content-top .logo{
    width: 130px;
  }
  .login-btn{
    padding: 4px 0;
    font-size: 20px;
  }
  .login-btn a{
    padding: 4px 39px;
  }
  .header-content-bottom .button{
    font-size: 12px;
  }
  .header .button.green,.header .button.red{
    width: 162px;
    height: 52px;
  }
}
@media screen and (max-width:520px){
  .title-info--main{
    letter-spacing: 8px;
  }
}
@media screen and (max-width:448px){
  .main-bottom h1{
    font-size: 30px;
  }
}
@media screen and (max-width:440px){
  .header{
    background: url(/static/media/Background.a08e0abb.jpg) no-repeat 60%;
  }
  .title--main{
    font-size: 36px;
    letter-spacing: 10px;
  }
  .title-info--main{
    font-size: 20px;
    letter-spacing: 6px;
  }
  .header .button.green,.header .button.red{
    width: 138px;
    height: 52px;
  }
  .header-content-bottom .button{
    font-size: 10px;
  }
  .button.margin--r{
    margin-right: 12px;
  }
}
@media screen and (max-width:416px){
  .main-bottom h1{
    padding: 50px 2px;
  }
  .main-bottom p{
    font-size: 18px;
  }
}
@media screen and (max-width:378px){
  .header-signup-modal a{
    font-size: 14px;
    padding: 13px 25px !important;
  }
}
@media screen and (max-width:372px){
  .header-content-top {
    padding: 16px 16px;
  }
  .header-content-top .logo {
    width: 120px;
  }
  .login-btn {
    padding: 6px 0;
    font-size: 14px;
    border: 2px solid #fff;
  }
  .login-btn a{
    padding: 6px 14px;
  }
  .title--main {
    font-size: 32px;
    letter-spacing: 6px;
  }
  .title-info--main {
    font-size: 18px;
    letter-spacing: 4px;
  }
  .header-content-bottom{
    padding: 0 20px 112px;
  }
  .button.margin--r{
    margin-right: 0;
    margin-bottom: 14px;
  }
  .header-content-bottom .button{
    font-size: 12px;
  }
  .header .button.green,.header .button.red{
    width: 100%;
  }
  .main-bottom .contact-block .contact-text{
    letter-spacing: 1px;
  }
  .Available .discription-part h2{
    font-size: 38px;
  }
}
